.header {
  background-color: var(--main-background);
  padding: 1rem;
  color: var(--light-background);
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
}

.icon {
  font-size: 1.3rem;
}

.accent {
  color: var(--secondary-accent);
}
