*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Proxima Nova', system-ui, sans-serif;
}

:root {
  --main-background: #282c34;
  --light-background: #f5f5f5;
  --primary-accent: #fbbf24;
  --secondary-accent: #f97316;
}
